/* ModalStepperLiberacao.module.css */

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
  }
  
  .modal button {
    margin-right: 10px;
  }
  
  .overlay {
    z-index: 1000; /* Mantenha o estilo de overlay separado se necessário */
  }
  
  .container {
    overflow-y: auto;
    width: calc(50vw - 2em); /* Ajuste o valor para um quadrado maior */
    height: calc(40vw - 2em); /* Use a mesma medida para a altura */
    max-width: 800px; /* Defina uma largura máxima opcional */
    display: flex;
    flex-direction: column;
    padding: 1em;
    z-index: 9999; /* Defina um valor alto para garantir que o container fique na frente de tudo */
  }
  
  .organizaHorizontal {
    display: flex;
    justify-content: space-between; /* Alinha os elementos para que o espaço entre eles seja distribuído uniformemente */
    padding: 10px 0; /* Adiciona espaço entre os botões */
    max-width: 100%; /* Define a largura máxima para o container */
    margin-top: auto; /* Coloca a div no final do container */
  }
  
  .organizaHorizontal button:first-child {
    margin-right: auto; /* Coloca o botão "Anterior" à esquerda */
  }
  
  .organizaHorizontal button:last-child {
    margin-left: auto; /* Coloca o botão "Próximo" à direita */
  }
  
  /* ModalStepperLiberacao.module.css */
  
  .progress-container {
    position: relative;
    height: 40px;
    width: 100%;
    margin-bottom: 20px;
    background-color: lightgray;
  }
  
  .progress-bar {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 100%;
    height: 100%;
    transition: width 0.5s ease;
    background-color: #163047;
  }
  
  .progressBar.loading {
    animation: blinkAnimation 1s infinite;
  }
  
  .loadingContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8); /* Background semitransparente */
    z-index: 1000; /* Garanta que está acima de outros elementos */
  }
  
  .loader {
    border: 9px solid #f3f3f3; /* Light grey */
    border-top: 9px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
    margin: 15px;
  }
  
  /*------------------------------------------------------*/
  
  /*------------------------------------------------------*/
  
  .Wrapper {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .completed {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
  
    @media (max-width: 768px) {
      font-size: 12px;
    }
  }
  
  .completed::after {
    position: absolute;
    content: "";
    border-bottom: 7px solid #163047;
    width: 0;
    top: 20px;
    right: -50%;
    z-index: 2;
  }
  
  .completed::before {
    position: absolute;
    content: "";
    border-bottom: 7px solid #163047;
    width: -90px;
    top: 20px;
    left: -900px;
    z-index: 1;
  }
  
  .completed.active::before {
    width: 100%;
    left: -100px;
  }
  
  .completed .counter {
    position: relative;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #ccc;
    margin-bottom: 6px;
    color: white;
  }
  
  .completed.active {
    font-weight: bold;
  }
  
  .completed.active .counter {
    background-color: #163047;
  }
  
  .completed:first-child::before {
    content: none;
  }
  .completed:last-child::after {
    content: none;
  }
  
  h7 {
    color: #3498db;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes is-rotating {
    to {
      transform: rotate(1turn);
    }
  }
  
  @keyframes blinkAnimation {
    0%,
    100% {
      background-color: #45458c; /* Cor padrão */
    }
    50% {
      background-color: #163047; /* Cor mais clara */
    }
  }
  