nav a {
    margin: 0 10px;
    padding: 5px;
    text-decoration: none;
    color: aliceblue;
  }
  
  nav a:hover {
    color: rgb(9, 92, 237);
  }

  a {
    cursor: pointer;
  }
  
  .navbar {
    display: flex;
    width: 100%;
    height: auto;
    padding: 5px;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
    flex-shrink: 0;
    background: #F21326;
  }
  .opcoes {
    color: #fff;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    padding: 5px;
    margin: 0 5px;
    justify-content: center;
    align-items: flex-end;
    gap: 10px;
  }
  .opcoes:last-child {
    margin-left: auto;
  }
  .secaoUsuario {
    display: flex;
    align-items: center;
    width: 458px;
    margin-right: auto;
    height: 110px;
    padding: 5px 12px;
    align-items: flex-start;
    gap: 25px;
    flex-shrink: 0;
  }
  .secaoUsuario img {
    max-width: 90%;
    height: auto;
  }
  
  .opcoesMenu {
    display: flex;
    flex-direction: wrap;
    align-items: center;
    gap: 10px;
    justify-content: flex-start;
    width: 100%;
  }
  
  .infoUsuario {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
  
  .nomeUsuario {
    color: #fff;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  
  .profissao {
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  
  /* Media Query para telas menores (tablets e dispositivos móveis) */
  @media (max-width: 768px) {
    .navbar {
      padding: 2px;
    }
  
    .opcoes {
      font-size: 14px;
      padding: 5px;
      margin: 0 3px;
    }
    .secaoUsuario {
      width: 350px;
      margin-right: 0%;
      height: 100px;
      padding: 3px 8px;
      gap: 15px;
    }
    .nomeUsuario {
      font-size: 18px;
    }
  
    .profissao {
      font-size: 14px;
    }
  }
  /*para tela ainda menor*/
  @media (max-width: 600px) {
    .navbar {
      padding: 1px;
    }
  
    .opcoes {
      font-size: 11px;
      padding: 3px;
      margin: 0 1px;
    }
    .secaoUsuario {
      width: 350px;
      margin-right: 0%;
      height: 100px;
      padding: 3px 8px;
      gap: 15px;
    }
    .nomeUsuario {
      font-size: 16px;
    }
  
    .profissao {
      font-size: 11px;
    }
  }
  