/*Todos os estilos de todos os componentes de formulário estão aqui*/

.btn_grandeVermelho {
  display: inline-flex;
  padding: 10px;
  margin: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: #d4061d;
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.btn_grandeAzul {
  display: inline-flex;
  padding: 10px;
  margin: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: #163047;
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.btn_pequenoAzul {
  display: inline-flex;
  padding: 10px;
  margin: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: #163047;
  color: #e5e5e5;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.btn_pequenoVermelho {
  display: inline-flex;
  padding: 10px;
  margin: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: #d4061d;
  color: #e5e5e5;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.btn_adicionar {
  display: flex;
  width: 31px;
  padding: 10px;
  margin: 15px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 50px;
  background: #163047;
  color: #e5e5e5;
  text-align: center;
  font-family: Font Awesome 6 Free;
  font-size: 12px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
.btn_alternaVertical {
  color: #d4061d;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  align-items: flex-end;
  align-content: flex-end;
  flex-wrap: wrap;
  width: auto;
  gap: 1px;
}
/* Estilo do input do radio button */
.btn_alternaVertical input[type="radio"] {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #d4061d; /* Cor da borda igual à cor da fonte */
  border-radius: 50%; /* Deixa o radio button circular */
  margin-right: 5px; /* Espaçamento entre o radio button e o texto */
}

/* Estilo do input do radio button quando está selecionado */
.btn_alternaVertical input[type="radio"]:checked {
  background-color: #d4061d; /* Cor de fundo igual à cor da fonte */
  border: 2px solid #d4061d; /* Mantém a cor da borda igual à cor da fonte */
}
.btn_alternaHorizontal {
  color: #163047;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: auto;
  gap: 3px;
  flex-wrap: wrap;
}
/* Estilo do input do radio button */
.btn_alternaHorizontal input[type="radio"] {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #163047; /* Cor da borda igual à cor da fonte */
  border-radius: 50%; /* Deixa o radio button circular */
  margin-right: 5px; /* Espaçamento entre o radio button e o texto */
}

/* Estilo do input do radio button quando está selecionado */
.btn_alternaHorizontal input[type="radio"]:checked {
  background-color: #d4061d; /* Cor de fundo igual à cor da fonte */
  border: 2px solid #163047; /* Mantém a cor da borda igual à cor da fonte */
}
.inp_padrao {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  border-radius: 0px 10px 10px 10px;
  border: 1px solid #163047;
  background-color: #fff;
  color: rgba(0, 0, 0, 0.5);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
/*label*/
.inp_padrao label {
  color: #163047;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #163047;
}

option {
  color: black;
}

.inp_padrao_vermelho {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  border-radius: 0px 10px 10px 10px;
  border: 1px solid rgba(255, 0, 0, 1);
  background-color: #fff;
  color: rgba(0, 0, 0, 0.5);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
/*label*/
.inp_padrao_vermelho label {
  color: rgba(255, 0, 0, 1);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.inp_lupa {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  border-radius: 0px 10px 10px 10px;
  border: 1px solid #163047;
  background-color: #fff;
  color: rgba(0, 0, 0, 0.5);
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-image: url("../imagens/inp_lupa@2x.svg");
  background-repeat: no-repeat;
  background-position: right center;
}
/*label*/
.inp_lupa label {
  color: #163047;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #163047;
}
.inp_grande {
  display: flex;
  flex-direction: column-reverse;
  padding: 10px;
  align-items: flex-start;
  gap: 5px;
  flex: 1 0 0;
  align-self: stretch;
  width: 100%;
  height: 50px;

  border-radius: 0px 10px 10px 10px;
  border: 1px solid #163047;
}

/*label*/
.label {
  color: #163047;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/*combo box padrãpo com seta azul*/
.cbx_padrao {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  border-radius: 0px 10px 10px 10px;
  border: 1px solid #163047;
  background-color: #fff;
  color: rgba(0, 0, 0, 0.5);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-image: url("../imagens/setaBaixo@2x.svg");
  background-repeat: no-repeat;
  background-position: right center;
}
